//menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  @include easeOut;
  &:hover {
    transform: scale(1.5);
  }
  .btn-line {
    width: 35px;
    height: 4px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }
  //menu transform in X
  &.close {
    &:hover {
      transform: scale(1.5);
    }
    transform: rotate(180deg);
    .btn-line {
      // first line rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // second line hide
      &:nth-child(2) {
        opacity: 0;
      }
      // third line rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden;
  }
  // right nav
  &-nav {
    width: 55%;
    background: rgba(darken($primary-color, 5), 0.7);
    list-style: none;
    transform: translate3d(110%, 0, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  // left
  &-branding {
    width: 45%;
    background: $primary-color;
    transform: translate3d(-90%, 0, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// delay each nav item slide by 0.1s
@for $i from 1 through 5 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 0.18s;
  }
}
