// Widescreens
@include mediaXl {
  .bio-image {
    width: 300px !important;
  }
  #project {
    .sm-heading {
      width: 100%;
    }
  }
}
// Desktop & Laptop
@include mediaLg {
  #project {
    .sm-heading {
      width: 70%;
    }
  }
  .about-me {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-info {
    grid-template-areas:
    "skills job1 job2"
    "job3 job4 job5";
    grid-template-columns: repeat(2, 1fr);
  }
  #about{
    .sm-heading {
      width: 100%;
    }
    .photo-1, .photo-2, .photo-3 {
      width: 300px !important;
    }
    .about-me{
      grid-template-areas:
      "photo-1 photo-2 photo-3"
      "bio-1 bio-2 bio-3";
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Tablets
@include mediaMd {
  h2.sm-heading{
    width: 100% !important;
  }
  #contact {
    .boxes {
      div {
        width: 100%;
        font-size: 1.3rem;
      }
    }
  }
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3.2rem !important;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    background: rgba(darken($primary-color, 5), 1);
    float: none;
    width: 100%;
    min-height: 0;
    // #aforisma{
    //   display: none !important;
    // }
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 80vh;
    transform: translate3d(0, 100%, 0);
    font-size: 20px;
    text-align: center;
  }
  .menu-branding {
    height: 20vh;
    transform: translate3d(0, -100%, 0);
  }
  .about-info {
    grid-template-areas:
    "skills"
    "job1"
    "job2";
    grid-template-columns: 1fr;
  }
  .about-me {
    grid-template-areas:
      "photo-1"
      "bio-1"
      "photo-2"
      "bio-2"
      "photo-3"
      "bio-3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
// Smartphones
@include mediaSm {
  h2.sm-heading{
    width: 100% !important;
  }
  main {
    padding: 0 2rem;
    h1 {
      padding-top: 10vh;
    }
    &#about {
      #myChart {
        width: 100%;
        // min-height: 20vh;
      }
    }
  }

  #contact {
    .boxes {
      div {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
  .menu-nav {
    height: 70vh;
    transform: translate3d(0, 100%, 0);
    font-size: 16px;
    text-align: center;
    li{
      margin: 2px 0;
    }
  }
  .menu-branding {
    height: 30vh;
    transform: translate3d(0, -100%, 0);
    #aforisma{
      display: none !important;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }

}
